.card {
    padding: 25px;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    text-align: left; 
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
    background-color: var(--color-card-bg);
    transition: transform 0.2s;
    min-height: 140px;
}
.card:hover {
    transform: translateY(-3px);
}
.subtext {
    font-size: 0.85em;
    color: var(--color-secondary);
    margin-top: 10px;
}